:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --humburger-gap: 6px;
    --foreground: #333;
    --background: #fff;
}

.humburger-menu{
    display: flex;
    flex-direction: column;
    gap: var(--humburger-gap);
    background-color: rgb(255, 0, 0);
    width: max-content;
    position: absolute;
    left: 10px !important;

}

.humburger-menu::before,
.humburger-menu::after,
.humburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);

}

.humburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}