@import url(./assets/poppins/stylesheet.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins";
    /* height: 300vh; */
}
.eshop{
    color: #A51910;
    font-weight: 700;
    font-size: 18px;
}

.srch{
    border: 0px solid;
    border-radius: 50px;
    background-color: rgb(231, 228, 228);
    margin-left:33%;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
    }

.texts{
    position: absolute;
    font-size: 10px;
    top: 25px;
}

.home{
    left: 63%;
}

.products{
    left: 70%;
}

.about{
    left: 78%;
}

.cont{
    left: 85%;
}

.srch_logo{
    position: absolute;
    left: 40%;
    height: 16px;
    top: 38%;
}

.bag{
    position: absolute;
    left:93% ;
    height: 20px;
    top: 20px;
}

.pp{
    position: absolute;
    left:96% ;
    height: 21px;
    top: 20px;
}

.bag_info{
    display: flex;
}

.big_bag{
    margin-left: 200px;
    margin-top: 200px;
    height: 450px;   
}

.HB{
    margin-left: 50px;
    margin-top: 260px;
    color: grey;
}

.bag_title{
    margin-left: -85px;
    margin-top: 290px;
}

.bag_price{
    margin-left: -350px;
    margin-top: 350px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: grey;
    font-size: 25px;
}

.select{
    height: 30px;
    margin-left: -150px;
    margin-top: 400px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(231, 228, 228);
    text-align: center;
}

.product_details{
    margin-left: -150px;
    margin-top: 450px;
}

.details{
    margin-left: -10em;
    margin-top: 490px;
    font-size: 18px;
    width: 350px;
}

.counter{
    background-color: lightgray;
    margin-left:-21em;
    margin-top: 640px;
    padding: 8px;
    height: 40px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);


}

.red_button{
    color: white;
    border: none;
    background-color: #A51910;
    margin-left: 80px;
    margin-top: 640px;
    border-radius: 15px;
    padding: 8px;
    width: 150px;
    height: 40px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);

}

.bag_images{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    margin-left: 180px;
    width: 500px;
}


.rproducts{
    display: flex;
    margin: 100px;
    margin-left: 200px;
    gap: 2em;
    overflow-x:hidden;
    padding: 0.5em;
}

.picbg{
    width:216px;
    justify-content: center;
    background-color:white;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.akub{
    display: flex; 
    margin-left: 25px;
    font-size: large;
}

.price{
    font-size: large;
    font-weight: 900;
    margin-top:25px;
    margin-left:20px;
    color: #A51910;
}

.curr{
    margin-top: -25px;
    margin-left: 100px;
    font-size: large;
    color: grey;
    width: max-content;

}

.plusbtn{
    text-align: center;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #A51910;
    color: white;
    font-size: 25px;
    margin-top: -30px;
    margin-left: 160px;
}


