@media only screen and (max-width: 1010px) {
    header #menu-image{
        display: block;
    }

    header .logo-text{
        /* order: 2; */
        text-align: center;
    }

    .hidden-tab{
        display: none !important;
    }

    .featured-products h1{
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2%;
    }

    .wrap{
        display: flex;
        flex-direction: column;
    }

    .body .right section .item-cards img{
        width: 100%;
    }
    .body{
        justify-content: center;
    }

    .body .right >button{
        width: 2em;
    }
    footer .top, footer{
        gap: 2em;
    }
    /* .links{
        position: absolute;
        flex-direction: column;
        height: 100vh;
        gap: 20px;
        opacity: 0.8;
        width: 22rem;
        left: -22rem;
        top: 0;
        background-color: rgb(77, 77, 77);
        z-index: 78;
    }
    #Togller:checked ~ .menu-icon{
        left: 23rem;
        transform: rotateZ(5turn);
    }
    #Togller:checked ~ .menu-icon::before{
        content: url(./assets/icons/back-icon.png);
        z-index: 2345;
    }
    #Togller:checked ~ .links{
        left: 0;
    } */

    
}

@media only screen and (max-width: 968px) {
    .hidden-tab2{
        display: none !important;
    }
    header form{
        width: max-content;
    }
}

@media only screen and (max-width: 600px) {
    .wrap2{
        flex-direction: column;
    }
    .unhidden{
        display: block !important;
    }
    .hidden-tab3{
        display: none !important;
    }
}

@media only screen and (max-width:1110px){

    
    .bag_info {    
    display: block;
    flex-direction: column;
    justify-content:center;
    flex-wrap: nowrap;
   
}
.big_bag{
    margin-left: 20%;
}
.dd{
    margin-left: 200px;
    margin-top: 15px;
}


.details{margin-left: 200px;}


.counter{display: inline-block; 
         margin-top: 0em;   
}


.red_button{display: inline-block;
            margin-top: 2em; 
            margin-left:1em ;}


.rproducts{
    flex-wrap: wrap;
}

.texts{
    display: none;
}

.srch_logo{margin-left:2em ;}

}